
    .mtg-decks--container {
        display: flex;
        flex-wrap: wrap;
        .mtg-deck {
            position: relative;
            flex: 45%; 
            max-width: 45%;
            margin: 2.5%;

            .mtg-deck-label{
                position: absolute;
                width: 100%;
                z-index: 1000;

                top: 42%;   
                text-align: center;
                color: white;
                font-weight: bold;

                &.add-label{
                    font-size: 27px;
                    color: var(--ion-color-medium) !important;
                }
            }

            .mtg-deck-image {
                margin: 0;
                min-width: 100%;
                min-height: 100%
            }
        }
    }
 