:root {
    --ion-background-color:  var(--ion-color-light);
    
    ion-toolbar{
        --background: var(--ion-color-dark);

        .header-logo{
            display: block;
            width: 50%;
            max-width: 200px;
            margin: auto;
        }

        &.sub-toolbar{
            --background: var(--ion-color-medium);
            padding-left: 12px;
        }

    }

    ion-tab-bar{
        --background: var(--ion-color-dark);
        --color: white;
    }

    .mtg-container {
        display: flex;
        flex-wrap: wrap;
        .mtg-container-item {
            position: relative;
            flex: 45%; 
            max-width: 45%;
            margin: 2.5%;

            .mtg-container-item-label{
                position: absolute;
                width: 100%;
                z-index: 1000;

                top: 42%;   
                text-align: center;
                color: white;
                font-weight: bold;

                &.mtg-add-label{
                    font-size: 27px;
                    color: var(--ion-color-medium) !important;
                }
            }

            .mtg-container-item-image {
                margin: 0;
                min-width: 100%;
                min-height: 100%
            }
        }
    }
 
}

