<ion-header>
    <app-mtg-header></app-mtg-header>
    <ion-toolbar class="sub-toolbar">
        <ion-input placeholder="Search Cards..." type="string" (ionChange)="onChangeSearchQuery($event.target.value)"
            debounce="500"></ion-input>
        <ion-button fill="clear" slot="end" (click)="takePhoto()">
            <ion-icon name="camera"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p><img id="search--image" src="{{searchImage}}" style="width: 50%; height: auto;"></p>
    <!-- <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button> -->
    <div class="mtg-cards--container">
        <ion-img class="mtg-card" *ngFor="let card of cards" [src]="card.imageUrl"></ion-img>
    </div>
    <ion-infinite-scroll (ionInfinite)="addCards($event)">
        <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="loading more cards...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>